<mat-form-field class="example-chip-list">
  <mat-label
    >{{ "LABELS." + label | translate }}
    <ng-container
      *ngIf="
     control.errors?.['required'] &&
optionCtrl.touched &&
 selectedOptions.length === 0"
      >*</ng-container
    >
  </mat-label>
  <mat-chip-list #chipList aria-label="Option selection">
    <mat-chip *ngFor="let option of selectedOptions" (removed)="remove(option)">
      {{ option.viewValue }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="New fruit..."
      #dropdownInput
      [formControl]="optionCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.viewValue }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-error
  *ngIf="control.errors?.['required'] &&
optionCtrl.touched &&
 selectedOptions.length === 0"
  >{{ "ERRORS." + label + "_IS_REQUIRED" | translate }}</mat-error
>
