<mat-form-field class="example-full-width">
  <mat-select
    [formControl]="control"
    [placeholder]="'LABELS.' + label | translate"
    [multiple]="true"
    #multiSelect
  >
    <ngx-mat-select-search [formControl]="optionCtrl"></ngx-mat-select-search>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.viewValue | translate }}
    </mat-option>
  </mat-select>
  <mat-error>{{ "ERRORS." + label + "_IS_REQUIRED" | translate }}</mat-error>
</mat-form-field>
