<div class="register row">
  <div class="col-lg-4 d-flex justify-content-center align-items-center h-100">
    <div class="">
      <mat-card class="">
        <form (onSubmit)="register()" [formGroup]="registerForm">
          <div class="p-4">
            <mat-card-title class="app-pink">{{
              "LABELS.REGISTER_HERE" | translate
            }}</mat-card-title>
            <mat-card-content>
              <app-input
                type="email"
                label="EMAIL"
                controlName="email"
                [control]="getControl('email')"
                placeholder="Ex.john@winchester.com"
              ></app-input>
              <app-input
                type="password"
                label="PASSWORD"
                controlName="password"
                [control]="getControl('password')"
                [minLength]="3"
                [maxLength]="6"
              ></app-input>
            </mat-card-content>
            <mat-card-actions>
              <button
                type="submit"
                (click)="register()"
                mat-stroked-button
                color="accent"
              >
                {{ "LABELS.REGISTER" | translate }}
              </button>
              <div class="px-2 mt-4">
                {{ "LABELS.ALREADY_HAVE_AN_ACCOUNT" | translate }}
                <span
                  [routerLink]="['/login']"
                  routerLinkActive="router-link-active"
                >
                  <b class="underline app-pink">{{
                    "LABELS.LOGIN_HERE" | translate
                  }}</b>
                </span>
              </div>
            </mat-card-actions>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="col-lg-8 d-flex justify-content-center align-items-center">
    <h1 class="app-pink bold">{{ "COMPANY_NAME" | translate }}</h1>
  </div>
</div>
