<mat-form-field class="example-full-width">
  <mat-label>{{ "LABELS." + label | translate }}</mat-label>
  <input
    type="{{ type }}"
    matInput
    [formControl]="control"
    placeholder="{{ placeholder }}"
  />
  <mat-hint>{{ "ERRORS.ERRORS_APPEAR_ISNTANTLY" | translate }}!</mat-hint>
  <mat-error *ngIf="errorMessage && !control.hasError('required')">
    {{ errorMessage | translate : { value: errorValue } }}
  </mat-error>

  <mat-error *ngIf="control.hasError('required')">
    {{ "ERRORS." + label + "_IS_REQUIRED" | translate }}
  </mat-error>
</mat-form-field>
