<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">{{ "LOADING" | translate }}...</p></ngx-spinner
>

<mat-drawer-container class="h-100">
  <mat-drawer #drawer mode="side" closed class="mat-drawer-config left-root">
    <div class="p-4">
      <img
        src="https://cdn.iconscout.com/icon/free/png-256/bmw-4-202746.png"
        alt="brand-icon"
        class="brand-icon-img"
      />
    </div>
    <div class="px-4 sidebar">
      <h3
        [routerLink]="['/applications']"
        routerLinkActive="router-link-active"
      >
        {{ "SIDE_NAV.APPLICATIONS" | translate }}
      </h3>
      <h3
        [routerLink]="['/create-application']"
        routerLinkActive="router-link-active"
      >
        {{ "SIDE_NAV.CREATE_APPLICATION" | translate }}
      </h3>
      <h3 (click)="logout()">{{ "SIDE_NAV.LOGOUT" | translate }}</h3>
    </div>
  </mat-drawer>
  <mat-drawer-content class="root">
    <div>
      <router-outlet></router-outlet>
      <select
        class="language-select"
        #lang
        (change)="selectLanguage(lang.value)"
      >
        <option value="en">{{ "LANGUAGE.ENGLISH" | translate }}</option>
        <option value="hin">{{ "LANGUAGE.HINDI" | translate }}</option>
      </select>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
