<div class="register row">
  <div class="col-lg-4 d-flex justify-content-center align-items-center h-100">
    <div class="">
      <mat-card class="">
        <div class="p-4">
          <mat-card-title>Register</mat-card-title>
          <mat-card-content>
            <app-input
              type="email"
              label="Email"
              controlName="email"
              [control]="email"
              placeholder="Ex.john@winchester.com"
            ></app-input>
            <app-input
              type="password"
              label="Password"
              controlName="password"
              [control]="password"
              [minLength]="3"
              [maxLength]="6"
            ></app-input>
          </mat-card-content>
          <mat-card-actions>
            <div class="px-2">
              Already have an account
              <span
                [routerLink]="['/login']"
                routerLinkActive="router-link-active"
              >
                login here
              </span>
            </div>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="col-lg-8 register-right-box">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1>Daffodil</h1>
    </div>
  </div>
</div>
