<ng-container>
  <div class="h-100 mx-5 pt-5">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="matSortChange($event)"
      class="mt-5 mat-elevation-z8"
    >
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column" *ngIf="column !== 'action'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column | titlecase }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ getValue(element[column]) }}
          </td>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action.</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            (click)="editApplication(element)"
            class="app-pink pointer"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="Edit"
            >edit</mat-icon
          >
          &nbsp;
          <mat-icon
            (click)="deleteApplication(element)"
            class="app-pink pointer"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="Delete"
            >delete</mat-icon
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [hidePageSize]="false"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</ng-container>
